.outer_container{
    background: url('../images/bg-curve-mobile.svg') no-repeat cover;
}
@media (min-width: 90em){
    .outer_container{
        background: url('../images/bg-curve-desktop.svg') no-repeat cover;
    }
}
.container{
    padding: 1em 2em;
    
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Raleway ;
    
    
}
.menu_logo{
    width: 5em;
}
.menu_list {
    display: flex;
    list-style: none;
    width: 60%;
    justify-content: space-between;

}
.menu_items{

}

@media (min-width: 90em){
    .container{
        padding: 3em 6em;
    }
    .menu_logo{
        width: 12em;
    }
    .menu_list {
        width: 25%;
        font-size: 1.5em
    }
}


.head{
    display: flex;
    flex-direction: column;
    font-family: Open Sans ;
    font-weight: 700;
    
}
.head_img{
    width: 100%;
    margin: 4em 0 2em 0;
    
}
.head_title{
    text-align: center;
    
}
.head_desc{
    text-align: center;
    font-weight: 400;
    line-height: 1.5em;
}
.head_form{
    display: flex;
    flex-direction: column;
}
.head_form> input{
    margin:.5em 0; 
    border-radius: 3px;
    border: 1px solid black;
    height: 40px;
    padding-left: .5em;
    
}
.head_form > button{
    border: none;
    border-radius: 3px;
    height: 45px;
    font: inherit;
    background-color: hsl(224, 93%, 58%);
    color: white;
    letter-spacing: 1px;
    transition: .5s background-color ;
}
.head_form > button:hover{
    transition: .5s background-color ;
    background-color: hsl(225, 95%, 70%);

}
@media (min-width: 90em){
    .head{
        flex-direction: row-reverse;
    }
    .head_img{
        width: 50%;
        margin: 0;
        
    }
    .head_wrapper{
        display: flex;
        flex-direction: column;
    }
    .head_title{
        text-align: left;
        font-size: 3em;
        
    }
    .head_desc{
        text-align: left;
        font-size: 1.5em;
        
    }
    .head_form{
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
    }
    .head_form> input{
        padding-left: 1.5em;
        margin:0;
        width: 50%; 
        height: 50px;
    }
    .head_form> button{
        margin:0;
        width: 44%; 
        height: 55px;
    }
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Open Sans ;
    font-weight: 700;
}
.content_img{
    width: 100%;
    margin: 12em 0 4em 0;
}
.content_title{
    text-align: center;
    font-size: 1em;
}
.content_desc{
    font-family: Open Sans ;
    font-weight: 400;
    line-height: 1.5em;
    color: gray;
}
.wrapper_link{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:2em; 
    text-align: center;
    text-decoration: none;
    font-family: Open Sans ;
    font-weight: 400;
    color: hsl(170, 45%, 43%);
    border-bottom: 1px solid hsl(170, 45%, 43%);
    padding-bottom: .5em;
}
.content_link > img {
    margin-left: .5em;
    width: 1.5em;
}

.comment{
    font-family: Open Sans ;
    font-weight: 400;
    line-height: 1.5em;
    max-width: 90%;
    margin: 3em auto;
    padding: 2em 1em ;
    background-color: hsl(240, 75%, 98%);
    box-shadow: 2px 2px 5px 2px rgba(191, 191, 191, 0.3);
    border-radius: 5px;
}
.wrapper_info{
    display: flex;
    align-items: flex-end;
    margin-top: 2em;
}
.wrapper_info > span:nth-child(2){
    font-family: Open Sans ;
    font-weight: 700;
}
.wrapper_info > span > span:nth-child(2){
    font-family: Open Sans ;
    font-weight: 400;
    font-size: .8em;
    color: gray;
}
.comment_img{
    border-radius: 50%; 
    max-width: 3em;
    margin-right:1em; 
}


@media (min-width: 90em){
    .content{
        flex-direction: row-reverse;
    }
    .content_wrapper{
        display: flex;
        flex-direction: column;
        
    }
    .content_img{
        width: 50%;
    }
    .content_title{
        text-align: left;
        font-size: 2em;
    }
    
    .wrapper_link{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .comment{
        width: 50%;
        margin: 3em auto 0 0;

    }
}



.newsletter{
    background-color:hsl(238, 22%, 44%); 
    font-family: Open Sans;
    color: white;
    text-align: center;
    
}
.newsletter_title{
    margin-top: 2em;
    font-size: 1.5em; 
}
.newsletter_desc{
    line-height: 1.5em;
}
.newsletter_form{
    display: flex;
    flex-direction: column;
}
.newsletter_form > input{
    margin:.5em 0; 
    border-radius: 3px;
    border: 1px solid white;
    height: 40px;
    padding-left: .5em;
    
}
.newsletter_form > button{
    border: none;
    border-radius: 3px;
    height: 45px;
    font: inherit;
    background-color: hsl(224, 93%, 58%);
    color: white;
    margin-bottom: 2em;
    transition: .5s background-color ;
}
.newsletter_form > button:hover {
    transition: .5s background-color ;
    background-color: hsl(225, 95%, 70%);
    
}



@media (min-width: 90em){
    .newsletter_wrapper{
        margin: 3em 0;
        display: flex;
        justify-content: space-between;
    }
    .desc_wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 50%;
        text-align: left;
    }
    .newsletter_form{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 40%;
    }
    .newsletter_form > button{
        width: 50%;
    }

}



footer{
    background-color: hsl(243, 87%, 12%);
    color: white;
    font-family: Raleway;
}
.wrapper1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2em 0 ;
}
.wrapper1 > span {
    display: flex;
    
}
.wrapper1 > span > img {
    margin-right: 1em;
}
.wrapper1_logo{
    margin-bottom: 2em;
    fill: white;
}
.nav_ul{
    padding: 0;
}
.nav_ul > li,a {
    
    list-style-type: none;
    color: white;
    text-decoration: none;
    line-height: 2em;
}
.social{
    display: flex;
    justify-content: center;
    margin-top: 4em;
    
}
.social > i {
    border: 1px solid white ;
    border-radius: 50%;
    padding: .5em;
    margin: auto .2em;
}


@media (min-width: 90em){
    .footer_wrapper{
        display: flex;
        justify-content: space-between;
        margin-top: 2em;
    }
    .wrapper2{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 6em;
        width: 65%;
    }
    .social{
        margin: 0;
        
    }
    .nav_ul{
        margin: 0;
        padding: 0 ;
    }
}
